{% extends 'admin.html.twig' %}

{% block title %}Edit tag{% endblock %}

{% block body %}

    <div class="sub-header-container">
        <header class="header navbar navbar-expand-sm">
            <nav class="breadcrumb-two" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('subsubcategories_index') }}" >List sous sous categories</a>
                    </li>
                </ol>
            </nav>

        </header>
    </div>
    <h1>Edit sous sous categories</h1>

    {{ include('admin/subsubcategories/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
{% block javascripts %}
    <script>
        var ss = $("#sub_sub_categories_subCategories").select2({
            tags: true,
        });
    </script>
{% endblock %}