<div class="search-header" [@slideInOut] *ngIf="!displayModalSignataire && !displayModalAvocat && !vm.displayComments  && !vm.displayAllResult">
    <button class="btn burger-menu-btn visible-xs-block" (click)="vm.toggleSidebar()">
        <img alt="" src="logo/burger.svg" />
    </button>
    <div class="search-input"  [ngClass]="vm.inputReasearchBar ? 'search-focused' : ''">
        <input alt="" type="text" id="input" [(ngModel)]="vm.inputReasearchBar"
               pInputText (focus)="vm.displayDivForReasearchBar=true"
               placeholder="Chercher un acte, un document, un contact" />
        <img alt="" src="/logo/search.svg" />
        <span *ngIf="vm.inputReasearchBar" class="glyphicon glyphicon-remove-sign" (click)="vm.displayDivForReasearchBar=false;vm.inputReasearchBar=null" style=" cursor:pointer; float: right; margin-top: -3%; margin-right: 1%;"></span>
        <div *ngIf="vm.displayDivForReasearchBar" class="role-name-barre-recherche">
            <div *ngFor="let c of (vm.allData | barPipe : vm.inputReasearchBar | slice:0:10)" (click)="vm.assignActeModel(c)" style="padding-left: 65px;">
                <span *ngIf="c.nameActe" [inlineSVG]="'/logo/en-attente.svg'" style="margin-right: 2%;"></span> <span *ngIf="c.nameActe" class="Affaire-Pauline-Grin">{{c.nameActe}}</span><span class="dfendeur" style="margin-left: 1%;" *ngIf="c.nameActe">acte</span>
                <span *ngIf="c.contactName" [inlineSVG]="'/logo/yellow.svg'" style="margin-right: 2%;"></span><span *ngIf="c.contactName" class="Affaire-Pauline-Grin">{{c.contactLastName | titlecase}} {{c.contactName | uppercase}} contact</span><span style="margin-left: 1%;" class="dfendeur" *ngIf="c.contactName">contact</span>
                <span *ngIf="c.documentName" [inlineSVG]="'/logo/document.svg'" style="margin-right: 2%;"></span><span *ngIf="c.documentName" class="Affaire-Pauline-Grin">{{c.documentName}}.pdf </span><span style="margin-left: 1%;" class="dfendeur" *ngIf="c.documentName">document</span>
            </div>
            <div *ngIf="vm.inputReasearchBar" class="role-name-barre-recherche" style="padding-top: 5px;border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;border-top: 1px solid #dadada;">
                <span class="Voir-tous-les-rsult" (click)="vm.displayAllResult=true;vm.displayDivForReasearchBar=false;" style="cursor:pointer;margin-left: 55px">Voir tous les résultats pour « {{vm.inputReasearchBar}} »</span>
            </div>
        </div>
    </div>
</div>
<div class="main-content" [ngClass]="vm.inputReasearchBar ? 'overlay' : ''" [@slideInOut] *ngIf="!displayModalSignataire && !displayModalAvocat && !vm.displayComments  && !vm.displayAllResult">
    <div class="container-fluid">

        <div class="row">

            <div class="add-act-header">
                <div>
                    <span class="glyphicon glyphicon-chevron-left back-title-chevron"
                          (click)="vm.displayArchive=false"></span>
                    <span class="add-act-title">Retour à la synthèse de l'acte</span>
                </div>
            </div>
            <hr />
        </div>
        <div>
            <div class="row">
                <div class="add-role-form">
                    <div class="add-role-header">
                        <span>Historique de l'acte</span>
                        <pagination-controls style="display: inline-block ; float:right" (pageChange)="p = $event" previousLabel="" nextLabel=""></pagination-controls>
                    </div>
                    <div class="add-role-item">
                        <div class="add-role-item-content">
                            <table class="history-tab">
                                <th id="th" hidden></th>
                                <tr *ngFor="let archive of actArchives | paginate : { itemsPerPage: 10, currentPage: p }">
                                    <td style="border: none">{{archive.action}}
                                        <br>
                                        <span style="font-size: 11px;color: grey">{{archive.actionDate.date }}</span>
                                    </td>
                                    <td style="border: none">Par: {{archive.actor}}</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>