{% extends '/email/layoutmail.html.twig' %}
{% block content %}

    <p>Bonjour</p>
    <p>
        Votre demannder a été accepté  ..........  "{{ detailcommande.numero }}" sur la plateforme WF:

        tnjm tshofha sur clic sur lien

        <a href="http://127.0.0.1:8000/mes-commandes">click ici </a>

    </p>

{% endblock %}

