{% block title %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" xmlns="http://www.w3.org/1999/html"/>
{% endblock %}

<h3> Votre inscription s'est correctement déroulée. Vous pouvez dès à présent vous connecter à votre compte </h3>
