<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>

<div id="email-wrap" style='width:90%; margin:auto ; border-style: solid; border-width: 0.25px; border-color:#5556fd;'>

    <div id="email-wrap" style='font-family: Raleway; font-size: 24px; font-weight: 400; font-size: 1.75rem; background-color: #5556fd; color: #FFF; padding:15px'>
        Foo<strong>doo</strong>
    </div>
    <div style="padding:20px">
        {% block content %}
        {% endblock %}

        Nous vous remercions pour votre confiance ! N'hésitez pas à nous contacter si vous avez besoin d'aide,
        <p>
            <strong>L'équipe Foodoo</strong> <br/>
            <strong>(+216) </strong><br/>
            <strong><a href="mailto:contact@medspeakers.com" >Foodoo@Foodoo.com</a> </strong>
        </p>
    </div>
</div>
<br>
<div id="email-wrap" style='color:#999; font-size:11px; text-align:center; width:70%; margin-top:15px; margin:auto ; '>
    <address>Copyright@2021<strong>Foodoo</strong>, All rights reserved. </address>
    You are receiving this mail because you are a user of <strong>Foodoo</strong>, you are in contact with a member of the team
    <p>
        <strong><a href="https://www.Foodoo.tn" style="text-decoration: none; color: #999;">www.Foodoo.tn</a> </strong>
    </p>
    <p>Adress foodoo<br>Tunisie</p>
</div>
</body>



</html>
