{% block title %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" xmlns="http://www.w3.org/1999/html"/>

{% endblock %}
<div class="container mt-4">
    <h3>Salut</h3>
    <p> Votre inscription à notre newsletter a bien été prise en compte, toute l'équipe outillage en ligne vous remercie de votre confiance.</p>
</div>