<div *ngIf="displayAllResult && !displayContactAdd">
    <div class="search-header">
        <div class="search-input" [ngClass]="inputReasearchBar ? 'search-focused' : ''">
            <input type="text" id="input" [(ngModel)]="inputReasearchBar"
                   pInputText
                   placeholder="Chercher un acte, un document, un contact" />
            <img alt="" src="/logo/search.svg" />
            <span *ngIf="inputReasearchBar" class="glyphicon glyphicon-remove-sign" (click)="displayDivForReasearchBar=false;inputReasearchBar=null;displayAllResult=false" style=" cursor:pointer;top: 19px;right: 13px;position: absolute;"></span>
            <div *ngIf="displayDivForReasearchBar" class="role-name-barre-recherche">
                <div *ngFor="let c of (AllData | barPipe : inputReasearchBar | slice:0:10)" (click)="assignActeModel(c);displayAllResult=false" style="padding-left: 65px;">
                    <span *ngIf="c.nameActe" [inlineSVG]="'/logo/en-attente.svg'" style="margin-right: 2%; vertical-align: middle;"></span> <span *ngIf="c.nameActe" class="Affaire-Pauline-Grin">{{c.nameActe}}</span><span class="dfendeur" style="margin-left: 1%;" *ngIf="c.nameActe">acte</span>
                    <span *ngIf="c.contactName" [inlineSVG]="'/logo/yellow.svg'" style="margin-right: 2%; vertical-align: middle;"></span><span *ngIf="c.contactName" class="Affaire-Pauline-Grin">{{c.contactLastName | titlecase}} {{c.contactName | uppercase}} contact</span><span style="margin-left: 1%;" class="dfendeur" *ngIf="c.contactName">contact</span>
                    <span *ngIf="c.documentName" [inlineSVG]="'/logo/document.svg'" style="margin-right: 2%; vertical-align: middle;"></span><span *ngIf="c.documentName" class="Affaire-Pauline-Grin">{{c.documentName}}.pdf </span><span style="margin-left: 1%;" class="dfendeur" *ngIf="c.documentName">document</span>
                </div>
                <div *ngIf="inputReasearchBar" class="role-name-barre-recherche" style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;border-top: 1px solid #dadada;">
                    <span class="Voir-tous-les-rsult" (click)="displayAllResult=true;displayDivForReasearchBar=false" style="cursor:pointer;margin-left: 55px;">{{text2()}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="container-fluid">
            <!--filters-->
            <div class="row" style="margin-bottom: 10px;">
                <span class="glyphicon glyphicon-chevron-left back-title-chevron"
                      style="margin-right: 4px;"
                      (click)="displayDivForReasearchBar=false;inputReasearchBar=null;displayAllResult=false"></span>
                <span style="vertical-align: middle;">Retour</span>

            </div>
            <div class="row" style="margin-bottom: 30px !important;">
                <span style="font-size: 25px;">{{inputReasearchBar}} .  </span><span style="font-size:15px;vertical-align: sub;"> {{AllData.length}} résultat(s)</span>
            </div>
            <div class="row">
                <div>
                    <div class="row" style="width: 225px;float: left; margin-right: 4%;margin-left:1px">
                        <p-multiSelect #dropdown
                                       autoWidth="false" [style]="{'width':'100%'}"
                                       [options]="choicesNature"
                                       [(ngModel)]="selectedType"
                                       [filter]="false"
                                       defaultLabel="Affiner la recherche"
                                       (onChange)="filter($event.value)"
                                       optionLabel="label">
                        </p-multiSelect>
                    </div>
                    <div *ngFor="let element of selectedType" style="float: left;margin-right: 1%;">
                        <div *ngIf="element && element.value=='0'" class="btn next-button" style="cursor:auto !important;">Actes <span class="glyphicon glyphicon-remove-sign" (click)="onReset(element.value,tableOrders)" style=" margin-left: 10px; margin-top: 2px; float: right;cursor:pointer"></span></div>
                        <div *ngIf="element && element.value=='1'" class="btn next-button" style="cursor:auto !important">Document<span (click)="onReset(element.value,tableOrders)" class="glyphicon glyphicon-remove-sign" style=" margin-left: 10px; margin-top: 2px;float: right;cursor:pointer"></span></div>
                        <div *ngIf="element && element.value=='2'" class="btn next-button" style="cursor:auto !important">Contact<span (click)="onReset(element.value,tableOrders)" class="glyphicon glyphicon-remove-sign" style=" margin-left: 10px; margin-top: 2px; float: right;cursor:pointer"></span></div>
                    </div>
                    <div *ngIf="selectedType.length>0" class="btn" style="cursor:pointer !important" (click)="onResetAll($event,tableOrders)">Annuler les filtres </div>
                </div>
            </div>
            <div *ngIf="AllData.length==0" style="margin-top: 10%;" class="search-no-result hidden-xs">
                <p style="border:1px solid #0000ff1f;text-align: center;">Aucun élément ne correspond à votre recherche</p>
            </div>
            <div *ngIf="AllData.length==0" style="margin-top: 10%" class="search-no-result visible-xs">
                <p style="border:1px solid #0000ff1f;text-align: center;">Aucun élément ne correspond à votre recherche</p>
            </div>
            <div style="clear: both"></div>
            <div class="row" style="margin-top: 5%;">
                <p-table #tableOrders [style]="{'margin-top':'20px','margin-bottom':'20px','float':'right','margin-top':'-6%'}"
                         [value]="AllData"
                         [rows]="25"
                         (onFilter)="isEmpty($event)"
                         selectionMode="single"
                         compareSelectionBy="equals"
                         [paginator]="true"
                         [responsive]="true"
                         styleClass="search-table"
                         [globalFilterFields]="['name','lastName','phoneNumber','email']">
                    <ng-template pTemplate="header">
                        <tr>
                            <th id="th" *ngFor="let col of columns" class="ref" pSortableColumnDisabled="false"
                                [ngStyle]="styleObject(col)">
                                <!--{{col.header}}-->
                                <p-sortIcon *ngIf="true === false" [field]="col.colkey"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    

                    <ng-template pTemplate="body" let-contact ;let-columns="columns">
                        <tr class="RowMesActes border_bottom" style="height: 65px;font-family: Palanquin,serif;cursor:pointer" (click)="assignActeModel(contact)">
                            <td>
                                <img alt="" *ngIf="contact.type == '0'" src="/logo/en-attente.svg" class="active" style="object-fit: contain;float: left;height:40px;margin-right: 2%;">
                                <img alt="" *ngIf="contact.type == '1'" src="/logo/document.svg" class="active" style="object-fit: contain;float: left;height:40px;margin-right: 2%;">
                                <img alt="" *ngIf="contact.type == '2'" src="/logo/yellow.svg" class="active" style="object-fit: contain;float: left;height:40px;margin-right: 2%;">
                                <div [innerHTML]='contact.nameActe | highlight: inputReasearchBar' *ngIf="contact.type == '0'" style="font-size: 15px; margin-top: 2%;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.33;letter-spacing: normal;color: #51596d">
                                </div>
                                <div [innerHTML]='contact.documentName | highlight: inputReasearchBar' *ngIf="contact.type == '1'" style="font-size: 15px; margin-top: 2%;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.33;letter-spacing: normal;color: #51596d">
                                </div>
                                <div [innerHTML]='contact.contactName+" "+ contact.contactLastName| highlight: inputReasearchBar' *ngIf="contact.type == '2'" style="font-size: 15px; margin-top: 2%;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.33;letter-spacing: normal;color: #51596d">
                                </div>
                            </td>
                            <td style="font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color:#1c1e25">
                                <div *ngIf="contact.type == '0'" style="font-size: 15px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.33;letter-spacing: normal;color: #51596d">
                                    Acte
                                </div>
                                <div *ngIf="contact.type == '1'" style="font-size: 15px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.33;letter-spacing: normal;color: #51596d">
                                    Document
                                </div>
                                <div *ngIf="contact.type == '2'" style="font-size: 15px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.33;letter-spacing: normal;color: #51596d">
                                    Contact
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>