{% extends 'admin.html.twig' %}

{% block title %}New Product{% endblock %}


{% block body %}

    <div class="sub-header-container">
        <header class="header navbar navbar-expand-sm">
            <nav class="breadcrumb-two" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('product_index') }}" >Produit</a>
                    </li>
                    <li class="breadcrumb-item active ml-2"><a href="javascript:void(0);">Ajouter Produit</a></li>
                </ol>
            </nav>

        </header>
    </div>
    <h1>Liste Des Produits</h1>

    {{ include('admin/product/_form.html.twig') }}

{% endblock %}
{% block javascripts %}



    <script>
        var secondUpload = new FileUploadWithPreview('product_imageFile')

        var secondUpload = new FileUploadWithPreview('product_imagesmulisple')



        $('#product_promo').on('change',function() {

            if (product_promo.checked)
            {

                $("#promo").show ();
            }
            else
            {
                $("#promo").hide ();

            }

        });

        var ss = $("#product_categories,#product_marque,#product_subCategory").select2({
            tags: true,
        });



    </script>
{% endblock %}