{% extends 'admin.html.twig' %}

{% block title %}New Marque{% endblock %}

{% block body %}

    <div class="sub-header-container">
        <header class="header navbar navbar-expand-sm">
            <nav class="breadcrumb-two" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('marque_new') }}" >marque </a>
                    </li>
                    <li class="breadcrumb-item active ml-2"><a href="javascript:void(0);">Ajouter marque </a></li>
                </ol>
            </nav>

        </header>
    </div>

    {{ include('/admin/marque/_form.html.twig') }}


{% endblock %}
